body {
  background-color:rgba(1,50,0,1)
  margin: 0;
  padding: 0;
  color:white;
  
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:rgba(80,0,0,1)
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  text-align: center;
}

.products, .cart {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(0,50,90,1);
  text-color:white;
}

#products div, #cart div {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color:green;
}

button:hover {
  background-color: #2980b9;
}
